body{
    background-color: rgb(181, 255, 76);
}

main{
    text-align: center;
    margin: auto;
    position:absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    height: 350px;
    width: 300px;
    border-radius: 10px;
    background-color: #ff9c1f;
}

input{
    width: 90%;
    text-align: right;
}

button{
    width: 20%;
    margin: 20px 5px;
}
